<h2>Name: {{ pirates.name }}</h2>
<h2>Birthplace: {{ pirates.birthplace }}</h2>
<h2>Year of death: {{ pirates.death_year }}</h2>
<h2>Base: {{ pirates.base }}</h2>
<h2>Nickname: {{ pirates.nickname }}</h2>

<a href="/pirates/{{id}}/edit">Name</a>
<br />
<a href="/pirates">Go back!</a>